nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    box-shadow: 0px 5px rgba(0,0,0,0.07);
    padding: 50px;
}
.nav-item {
    position: relative;
    cursor: pointer;
    width: 100%;
  }
  
  .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    background-color: #444;
    padding: 10px;
    list-style: none;
    z-index: 1;
  }
  
  /* Adjusting the submenu placement */
  .nav-item:hover .sub-menu {
    display: block;
    top: calc(100% + 5px); /* Added spacing between parent and submenu */
    left: 0;
  }
  
  .sub-item {
    padding: 5px 0;
  }